body {
    background: url('bgpic.gif') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    width: calc(30% - 40px); 
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
}

.card {
    background: url('cardbg.jpg') no-repeat center center;
    background-size: cover;

}

.card .image img {
    width: 100%;
    height: auto;
    position: relative;
}

.details {
    padding: 15px;
    position: relative;
}

.details .name {
    font-size: 24px;
    margin-bottom: 10px;
}

.details .type {
    font-size: 18px;
    font-weight: bold;
}

.details .type1,
.details .type2 {
    display: inline-block;
    margin: 5px 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.details .info {
    font-size: 21px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    position: relative;
  
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons .add {
    background-color: #4CAF50;
    color: white;
}

.buttons .release {
    background-color: #f44336;
    color: white;
}

.buttons button:hover {
    opacity: 0.9;
}
.type1.Steel { background-color: #60A1B8; }
.type1.Dragon { background-color: #5060E1; }
.type1.Water { background-color: #6890F0; }
.type2.Flying { background-color: #81B9EF; }
.type2.Electric { background-color: #F8D030; }
.type2.Fire { background-color: #dc3a3a; }
.type2.Dragon { background-color: #5060E1; }
.type2.Ice { background-color: #98D8D8; }
