body {
    background-image: url('slideshow.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .greeting {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .photo {
    text-align: center;
   
}
  
.photo img {
    width: 50%; 
    height: auto;
    border: 5px dashed #fff; 
    border-radius: 10px; 
}

   
   body {
            background-color: #FFC5C5; 
            font-family: 'Noto Sans KR', sans-serif; 
        }
 h1 {
            color: #ff69b4; 
            font-size: 90px;
            font-weight: bold;
            text-align: center;
            text-shadow: 2px 2px #ffc5c5;    
         }

.greeting {
    background-color: #fff; 
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    margin: 40px auto; 
}

.greeting p {
    font-size: 18px;
    margin-bottom: 20px;
}

.greeting{
    font-weight: bold; 
}

.photo {
    text-align: center;/
    margin-top: 40px;
}
