
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, p {
  color: #ffffff;
}

h2 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}

#home {
  background-image: url('bwimg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}


#home p {
  font-family: "Jost", sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 15px;
}



.nav-link.photos {
  color: #fff;
  background-color: #111;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link.photos:hover {
  background-color: #222;
}

#portfolio {
  padding: 60px 0;
  background-color: #111;
  color: #fff;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.portfolio-item {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image-wrapper img {
  width: 100%;
  height: 150px; /* Set a fixed height for the images */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item h3 {
  margin: 20px 0 10px;
  font-size: 1.5rem;
}

.portfolio-item p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #bbb;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #2b2927;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  transition: background 0.3s;
}

#backToTop:hover {
  background: #252524;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  flex: 1 1 45%;
  margin: 20px 0;
  text-align: center;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image-wrapper img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item h3 {
  margin: 20px 0 10px;
  font-size: 1.5rem;
}

.portfolio-item p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #bbb;
}


.slider-container{
  width: 100%;
  height: 100vh;
  background-image: url('Images/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-images{
  display: flex;
  align-items: center;
  gap: 21px;
}
.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.slider-img{
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
  height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
  height: 560px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
  height: 665px;
}
h1{
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}
.details{
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details h2{
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.details p{
  font-family: "Jost", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: rgba(255, 255, 255, 0.753);
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-img.active{
  width: 766px !important;
  height: 750px !important;
}
.slider-img.active h1{
   display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
  display: block;
}


